@import "./theme.scss";

// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 300;
//   src: url("./fonts/Kanit/Kanit-Light.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 400;
//   src: url("./fonts/Kanit/Kanit-Regular.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 500;
//   src: url("./fonts/Kanit/Kanit-Medium.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 600;
//   src: url("./fonts/Kanit/Kanit-SemiBold.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 700;
//   src: url("./fonts/Kanit/Kanit-Bold.ttf" /* webpackPreload: true */);
// }

body {
  margin: 0;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color Variables */
:root {
  /* 1 unit messurament by 8 */
  --unit: 8px;
  --main-text-color: #333;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-8 {
  padding-bottom: 8px;
}
