@import "./styles/theme.scss";

// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 300;
//   src: url("./fonts/Kanit/Kanit-Light.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 400;
//   src: url("./fonts/Kanit/Kanit-Regular.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 500;
//   src: url("./fonts/Kanit/Kanit-Medium.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 600;
//   src: url("./fonts/Kanit/Kanit-SemiBold.ttf" /* webpackPreload: true */);
// }
// @font-face {
//   font-display: swap;
//   font-family: Kanit;
//   font-weight: 700;
//   src: url("./fonts/Kanit/Kanit-Bold.ttf" /* webpackPreload: true */);
// }

body {
  margin: 0;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Color Variables */
:root {
  /* 1 unit messurament by 8 */
  --unit: 8px;
  --main-text-color: #333;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-180 {
  transform: rotate(-180deg);
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-8 {
  padding-bottom: 8px;
}
